.filter-container {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.list-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.date-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
}
