.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    width: 400px;
    padding: 20px;

    mat-card-title {
      padding: 20px;
    }
    .login-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }
  }
}
