// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&family=Rubik:wght@500&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define your theme with color palettes, typography and density
$mat-theme-primary-palette: map-merge(mat.$teal-palette, ( 501: #4d77b6, contrast: (501: white, A100: white, A200: white)));
$mat-theme-primary: mat.define-palette(
    $mat-theme-primary-palette,
  $default: 501,
  $lighter: A100,
  $darker: A200,
  $text: 600
);

$mat-theme-accent-palette: map-merge(mat.$cyan-palette, ( contrast: (100: #150c4a)));
$mat-theme-accent: mat.define-palette(
    $mat-theme-accent-palette,
  $default: 100,
  $lighter: 100,
  $darker: 700,
  $text: 500
);

$mat-theme-warn-palette: map-merge(mat.$pink-palette, ( ));
$mat-theme-warn: mat.define-palette(
    $mat-theme-warn-palette,
  $default: A200,
  $lighter: 500,
  $darker: 500,
  $text: A700
);

$mat-dark-theme-primary-palette: map-merge(mat.$purple-palette, ( contrast: (200: 100, A100: 200, A700: 50)));
$mat-dark-theme-primary: mat.define-palette(
    $mat-dark-theme-primary-palette,
  $default: 200,
  $lighter: A100,
  $darker: A700,
  $text: 700
);

$mat-dark-theme-accent-palette: map-merge(mat.$green-palette, ( contrast: (A200: black, 50: black, A400: black)));
$mat-dark-theme-accent: mat.define-palette(
    $mat-dark-theme-accent-palette,
  $default: A200,
  $lighter: 50,
  $darker: A400,
  $text: A100
);

$mat-dark-theme-warn-palette: map-merge(mat.$pink-palette, ( contrast: (A100: black, 100: white)));
$mat-dark-theme-warn: mat.define-palette(
    $mat-dark-theme-warn-palette,
  $default: A100,
  $lighter: 100,
  $darker: A700,
  $text: 100
);

$mat-typography: mat.define-legacy-typography-config(
  $font-family: 'Noto Sans JP, Rubik',
  $display-4:     mat.define-typography-level($font-size: 96px, $font-weight: regular, $font-family: Noto Sans JP),
  $display-3:     mat.define-typography-level($font-size: 60px, $font-weight: 500, $font-family: Noto Sans JP),
  $display-2:     mat.define-typography-level($font-size: 48px, $font-weight: 500, $font-family: Noto Sans JP),
  $display-1:     mat.define-typography-level($font-size: 34px, $font-weight: 500, $font-family: Noto Sans JP),
  $headline:      mat.define-typography-level($font-size: 24px, $font-weight: 500, $font-family: Noto Sans JP),
  $subheading-2:  mat.define-typography-level($font-size: 18px, $font-weight: 500, $font-family: Noto Sans JP),
  $subheading-1:  mat.define-typography-level($font-size: 20px, $font-weight: 500, $font-family: Noto Sans JP),
  $body-2:        mat.define-typography-level($font-size: 16px, $font-weight: 400, $font-family: Noto Sans JP),
  $body-1:        mat.define-typography-level($font-size: 18px, $font-weight: 400, $font-family: Noto Sans JP),
  $caption:       mat.define-typography-level($font-size: 16px, $font-weight: Medium, $font-family: Noto Sans JP),
  $button:        mat.define-typography-level($font-size: 16px, $font-weight: 500, $font-family: Noto Sans JP),
);

$mat-density: 0;

// Define the light and dark themes using the color, typography, and density values
$mat-core-theme: mat.define-light-theme((
  color: (
    primary: $mat-theme-primary,
    accent: $mat-theme-accent,
    warn: $mat-theme-warn
  ),
  typography: $mat-typography,
  density: $mat-density
));

$mat-dark-theme: mat.define-dark-theme((
  color: (
    primary: $mat-dark-theme-primary,
    accent: $mat-dark-theme-accent,
    warn: $mat-dark-theme-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Only include this once to prevent duplication
@include mat.all-component-themes($mat-core-theme);

// Specific styles for dark theme
.dark-theme {
  @include mat.all-component-colors($mat-dark-theme);
  --link-color: #{mat.get-color-from-palette($mat-dark-theme-primary)};
}

// Light theme colors
.light-theme {
  --link-color: #{mat.get-color-from-palette($mat-theme-primary)};
}

// Global styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

// Hide arrows for number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
